<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/signup.css">
    </head>
    <body>
        
        <div class="signup">
            <form action="/data" id="form">
                <div class="form-group">
                    <label for="user">Username : </label>
                    <input type="text" name="username" id="user" required>
                </div>
                <div class="form-group">
                    <label for="email">Email : </label>
                    <input type="email" name="email" id="email" required>
                </div>
                <div class="form-group">
                    <label for="password">Password : </label>
                    <input type="password" name="password" id="password" required>
                </div>
                <button type="submit" class="btn" name="submit">SignUp</button>
            </form>
        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.5.0/axios.min.js" integrity="sha512-aoTNnqZcT8B4AmeCFmiSnDlc4Nj/KPaZyB5G7JnOnUEkdNpCZs1LCankiYi01sLTyWy+m2P+W4XM+BuQ3Q4/Dg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="/js/main.js" async defer></script>
    </body>
</html>