.expense{
    text-align: center;
    margin: 1rem 0;
    background-color: antiquewhite;
}
#expenseList{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0;
    margin: 1rem 0;
}
#expenseList li{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
}
.none{
    display: none;
}
.leaderboards, .leaderboards div{
    text-align: center;
    padding: 1rem 0;
    margin: 0;
}
#Leaderboards{
    display: flex;
    gap: 1rem;
    list-style-type: none;
    flex-direction: column;
    align-items: start;
}
.activePage{
    padding: 1rem;
    margin: 0 1rem;
}
.active{
    color: white;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
    z-index: 9999;
    display: none;
}
.overlay-open{
    overflow: hidden;
}
.overlay div{
    width: 30%;
    background: white;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    margin: 6rem auto;
}
@media (max-width: 767px) {
    .overlay div {
      min-width: 90%;
    }
  }
.overlay div > *{
    padding: 1rem;
}
#rows{
    display: inline;
    width: 4rem;
}