*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.signup{
    width: 30vw;
    margin: 3rem;
    padding: 1rem;
    background-color: rgb(0, 231, 252);
}
.form-group{
    margin: 1rem 3rem;
}
#user, #email, #password{
    display: block;
    margin: 1rem 0;
}
.btn{
    width: auto;
    margin: 1rem;
    padding: 0.6rem;
    background-color: white;
    border: none;
}
#error{
    margin: 3rem;
    color: red;
}